:root{
    --h1-font-weight:600;
    --p-font-weight:400;
    --p-color:blueviolet;
    --p-line-height:30px;
    --btn-padding-left:20px;
    --btn-padding-right:20px;
    --btn-height:100px;
    --btn-border-radius:20px;
    --btn-background-color:#1F83FF;
    --btn-color:white;
    --btn-font-size:36px;
    --card__primary-margin-left:15px;
    --card__primary-padding-left:50px;
    --card__primary-padding-right:50px;
    --card__primary-margin-top:20px;
    --card__primary-height:50px;
    --card__primary-border-radius:10px;
    --card__primary-font-size:16px;
    --card__secondary-padding-left:50px;
    --card__secondary-padding-right:50px;
    --card__secondary-height:50px;
    --card__secondary-border-radius:10px;
    --card__secondary-background-color:white;
    --card__secondary-border-color:#1F83FF;
    --card__secondary-color:#1F83FF;
    --card__secondary-font-size:16px;
    --card-background-color:white;
    --card-width:auto;
    --card-padding:40px;
    --card-border-radius:20px;
    --card-text-align:center;
    --background-background-color:rgb(19, 21, 39);
    --background-height:100vh;
    --background-width:100vw;
    --background-display:flex;
    --background-justify-content:center;
    --background-align-items:center;
}